trunk/BpelExtensions/SampleServiceInvoke/ServiceComposition/MultiplicityServiceSlow.wsdl

<?xml version="1.0"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:ns1="http://org.apache.axis2/xsd" 
	xmlns:ns="http://multiplicity.ws.fmi.unisofia.bg" 
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	targetNamespace="http://multiplicity.ws.fmi.unisofia.bg">
	<wsdl:documentation>MultiplicityServiceSlow Desc</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://multiplicity.ws.fmi.unisofia.bg">
			<xs:element name="multiply">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="a" type="xs:double"/>
						<xs:element minOccurs="0" name="b" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="multiplyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="multiplyRequest">
		<wsdl:part name="parameters" element="ns:multiply"/>
	</wsdl:message>
	<wsdl:message name="multiplyResponse">
		<wsdl:part name="parameters" element="ns:multiplyResponse"/>
	</wsdl:message>
	<wsdl:portType name="MultiplicityServiceSlowPortType">
		<wsdl:operation name="multiply">
			<wsdl:input message="ns:multiplyRequest" wsaw:Action="urn:multiply"/>
			<wsdl:output message="ns:multiplyResponse" wsaw:Action="urn:multiplyResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="MultiplicityService">
        <plnk:role name="MultiplicityServiceProvider" portType="ns:MultiplicityServiceSlowPortType"/>
    </plnk:partnerLinkType>
	
	<wsdl:binding name="MultiplicityServiceSlowSoap11Binding" type="ns:MultiplicityServiceSlowPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="multiply">
			<soap:operation soapAction="urn:multiply" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MultiplicityServiceSlowSoap12Binding" type="ns:MultiplicityServiceSlowPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="multiply">
			<soap12:operation soapAction="urn:multiply" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MultiplicityServiceSlowHttpBinding" type="ns:MultiplicityServiceSlowPortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="multiply">
			<http:operation location="multiply"/>
			<wsdl:input>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultiplicityServiceSlow">
		<wsdl:port name="MultiplicityServiceSlowHttpSoap11Endpoint" binding="ns:MultiplicityServiceSlowSoap11Binding">
			<soap:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceSlow.MultiplicityServiceSlowHttpSoap11Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="MultiplicityServiceSlowHttpSoap12Endpoint" binding="ns:MultiplicityServiceSlowSoap12Binding">
			<soap12:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceSlow.MultiplicityServiceSlowHttpSoap12Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="MultiplicityServiceSlowHttpEndpoint" binding="ns:MultiplicityServiceSlowHttpBinding">
			<http:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceSlow.MultiplicityServiceSlowHttpEndpoint/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>