trunk/samples/soapui/axis2services/AdditionServiceStandard.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://addition.ws.fmi.unisofia.bg" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://addition.ws.fmi.unisofia.bg">
    <wsdl:documentation>
		AdditionServiceStandard Desc
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://addition.ws.fmi.unisofia.bg">
            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:double"/>
                        <xs:element minOccurs="0" name="b" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="ns:add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="ns:addResponse"/>
    </wsdl:message>
    <wsdl:portType name="AdditionServiceStandardPortType">
        <wsdl:operation name="add">
            <wsdl:input message="ns:addRequest" wsaw:Action="urn:add"/>
            <wsdl:output message="ns:addResponse" wsaw:Action="urn:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdditionServiceStandardSoap11Binding" type="ns:AdditionServiceStandardPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdditionServiceStandardSoap12Binding" type="ns:AdditionServiceStandardPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap12:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdditionServiceStandardHttpBinding" type="ns:AdditionServiceStandardPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="add">
            <http:operation location="add"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdditionServiceStandard">
        <wsdl:port name="AdditionServiceStandardHttpSoap11Endpoint" binding="ns:AdditionServiceStandardSoap11Binding">
            <soap:address location="http://localhost:8080/axis2-services/services/AdditionServiceStandard.AdditionServiceStandardHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdditionServiceStandardHttpSoap12Endpoint" binding="ns:AdditionServiceStandardSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2-services/services/AdditionServiceStandard.AdditionServiceStandardHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdditionServiceStandardHttpEndpoint" binding="ns:AdditionServiceStandardHttpBinding">
            <http:address location="http://localhost:8080/axis2-services/services/AdditionServiceStandard.AdditionServiceStandardHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
