trunk/samples/soapui/axis2services/MultiplicityServiceRandomAvailability.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://multiplicity.ws.fmi.unisofia.bg" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://multiplicity.ws.fmi.unisofia.bg">
    <wsdl:documentation>
		MultiplicityServiceRandomAvailability Desc
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://multiplicity.ws.fmi.unisofia.bg">
            <xs:element name="multiply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:double"/>
                        <xs:element minOccurs="0" name="b" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="multiplyRequest">
        <wsdl:part name="parameters" element="ns:multiply"/>
    </wsdl:message>
    <wsdl:message name="multiplyResponse">
        <wsdl:part name="parameters" element="ns:multiplyResponse"/>
    </wsdl:message>
    <wsdl:portType name="MultiplicityServiceRandomAvailabilityPortType">
        <wsdl:operation name="multiply">
            <wsdl:input message="ns:multiplyRequest" wsaw:Action="urn:multiply"/>
            <wsdl:output message="ns:multiplyResponse" wsaw:Action="urn:multiplyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultiplicityServiceRandomAvailabilitySoap11Binding" type="ns:MultiplicityServiceRandomAvailabilityPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="multiply">
            <soap:operation soapAction="urn:multiply" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiplicityServiceRandomAvailabilitySoap12Binding" type="ns:MultiplicityServiceRandomAvailabilityPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="multiply">
            <soap12:operation soapAction="urn:multiply" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiplicityServiceRandomAvailabilityHttpBinding" type="ns:MultiplicityServiceRandomAvailabilityPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="multiply">
            <http:operation location="multiply"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultiplicityServiceRandomAvailability">
        <wsdl:port name="MultiplicityServiceRandomAvailabilityHttpSoap11Endpoint" binding="ns:MultiplicityServiceRandomAvailabilitySoap11Binding">
            <soap:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceRandomAvailability.MultiplicityServiceRandomAvailabilityHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultiplicityServiceRandomAvailabilityHttpSoap12Endpoint" binding="ns:MultiplicityServiceRandomAvailabilitySoap12Binding">
            <soap12:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceRandomAvailability.MultiplicityServiceRandomAvailabilityHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultiplicityServiceRandomAvailabilityHttpEndpoint" binding="ns:MultiplicityServiceRandomAvailabilityHttpBinding">
            <http:address location="http://localhost:8080/axis2-services/services/MultiplicityServiceRandomAvailability.MultiplicityServiceRandomAvailabilityHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
